body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  margin: 0;
}

.hero {
  padding: 100px 20px;
  text-align: center;
}

.hero h1 {
  color: #198754;
  font-size: 50px;
}

.book-card img {
  height: 300px;
  object-fit: cover;
}

footer {
  margin-top: 50px;
}